.about-interests {
  height: 82.5%;
  width:90%;
  background-color: #fbfbf2;
  /*position: absolute;*/
  margin-top:3.5%;
  margin-left:2.5%;
}
.about-school {
  height: 40%;
  width:90%;
  background-color: #32393c;
  /*position: absolute;*/
  margin-top:2.5%;
  margin-bottom:2.5%;
}
.about-growingup {
  height: 40%;
  width:90%;
  background-color: #decbb7;
}
.about-left {
  width:50%;
  height: 100%;
  float:left;
}
.about-right{
  width:50%;
  height: 100%;
  float:right;
}