body {
  /*opacity:0;*/
  background-color: rgb(241,177,15);
  /*background-color: grey;*/
  /*transition: opacity 1s;*/
  /*-webkit-transition: opacity 1s;*/
  margin: 0;
  min-height: 97vh;
  position: relative;
  padding-bottom: 0px;
}
p {
  line-height: 2rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: #094074;
}
a:visited {
  color: #31393c;
}

#moveup {
  margin-top:-30px;
}
.subhead {
  font: 16px Lehigh-Semibold;
  color: #31393c;
  text-align: center;
}
.title {
  margin: 0px;
  text-align: center;
  font-size: 40px;
  color: #31393c;
  font-family: Lehigh-Bold;
}
.pagetitle {
  width:100%;
  /*height:10vh;*/
  padding-top: 1vh;
}
.pagebody {
  width:100%;
  /*height:90vh;*/
}
.bodytext {
  font: 20px Lehigh-Regular;
  color: #31393c;
}
.titletext {
  text-align: center;
  text-decoration: underline;
  font-family: Lehigh-Semibold;
  color: #31393c;
  font-size: 40px;
}
.subtitle {
  font: 32px Lehigh-Bold;
  text-align: center;
}
.subtext {
  font: 24px Lehigh-Regular;
}

.valign {
  display:flex;
  justify-content: center;
  width:100%;
  height:100vh;
}
.content {
  align-self: center;
}
.page {
  /*height: 100vh;*/
  width: 75vw;
  padding-left: 25vw;
  background-color: #f1b10f;
}

.sidebar {
  width:25vw;
  height:100vh;
  background-color: #f1b10f;
  position:fixed;
  align-content: center;
  border-right: 2px dotted #31393c;
  z-index: 10;
}
.sidebar-item {
  width:25vw;
}
.sidebar-link {
  text-decoration: none;
  text-align: center;
  padding:10px;
  font-size: 24px;
  color: #31393c;
  font-family: Lehigh-Regular;
}
.sidebar-link:hover {
  color:#fbfbf2;
}

.bg {
  background: fixed, linear-gradient(to bottom, #f1b10f 50%, #31393c 55%);
  background-blend-mode: color-burn;
}

.body-text {
  color: #31393c;
  font-size: 20px;
  font-family: Lehigh-Regular;
}

.scroll-line {
  width: 2px;
  background: #31393c;
  height: 0%;
  clear: both;
  position: absolute;
  margin-left: 25vw;
}

@font-face {
  font-family: SourceSansLight;
  src:url(../fonts/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: Lehigh-Semibold;
  src:url(../fonts/Lehigh-Personal-SemiBold.otf);
}
@font-face {
  font-family: Lehigh-Regular;
  src:url(../fonts/Lehigh-Personal-Regular.otf);
}
@font-face {
  font-family: Lehigh-Bold;
  src:url(../fonts/Lehigh-Personal-Bold.otf);
}
@font-face {
  font-family: Lehigh-Light;
  src:url(../fonts/Lehigh-Personal-Light.otf);
}

.icon {
  height: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
}

.dropdownlist {
  animation-direction: alternate;
}

.circle {
  height:100px;
  width:100px;
  border: 2px solid white;
  border-radius: 50%;
  overflow: visible;
  border-color: #31393c;
}
.logo-container {
  width:25vw;
  text-align: center;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}
footer {
  left:25vw;
  /*top:100vh - 1vh;*/
  bottom: 0;
  right: 0;
  width: 75vw;
  position: absolute;
  height: 3vh;
  text-align: right;
}
.footertext {
  text-align: right;
  margin-bottom: 1vh;
  font: 16px Lehigh-Regular;
  color: #31393c;
  position: absolute;
  z-index: 10;
  right:4vw;
}

