body {
  opacity:0;
  /*background-color: rgb(241,177,15);*/
  background-color: grey;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  margin: 0;
}
p {
  line-height: 2rem;
  text-align: center;
}
h2 {
  padding-bottom: 1%;
  text-align: center;
  font-weight:400;
}
a {
  text-decoration: none;
  color: #f5ffff;
}

a:visited {
  text-decoration: none;
  color: #71848c;  
}

.title {
  margin: 0px;
  font-size: 40px;
  color: #31393c;
  font-family: Lehigh-Semibold;
}



.valign {
  display:flex;
  justify-content: center;
  width:100%;
  height:100vh;
}
.content {
  align-self: center;
}
.maincontent {
  padding-left:30vw;
  width:70vw;
  height: 200vh;
  background-color: #fbfbf2;
}
.sidebar {
  width:30vw;
  height:100vh;
  background-color: rgb(241,177,15);
  position:fixed;
  align-content: center;
}
.sidebar-item {
  width:30vw;
}
.sidebar-link {
  text-align: center;
  padding:10px;
  font-size: 24px;
  font-family: Lehigh-Regular;
}
.body-text {
  color: #31393c;
  font-size: 20px;
  font-family: Lehigh-Regular;
}
.about {
  height:100vh;
  background-image: url(../img/sf.jpg);
  background-size:cover;
  z-index: -2;
}
@font-face {
  font-family: SourceSansLight;
  src:url(../fonts/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: Lehigh-Semibold;
  src:url(../fonts/Lehigh-Personal-SemiBold.otf);
}
@font-face {
  font-family: Lehigh-Regular;
  src:url(../fonts/Lehigh-Personal-Regular.otf);
}

.titlecontainer  {
  padding-top: 16vh;
  padding-left: 10vh;
  width: 28vw;
}
.icon {
  height: 4vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.dropdownlist {
  animation-direction: alternate;
}

.circle {
  height:100px;
  width:100px;
  border: 2px solid white;
  border-radius: 50%;
  overflow: visible;
  border-color: #31393c;
}
.logo-container {
  width:30vw;
  text-align: center;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}
